body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.heading-name-part{
    color: orange;
}
.first-part{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
} 
.half-width{
    width: 50%;
    padding-left: 80px;
}
.half-width img{
    width: 80%;
}
.half-width p{
    color: #696969;
}
.link-button{
    text-decoration: none;
    background-color: #FF7C5C;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
} 
.middle-part{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-half-width{
    width: 50%;
    padding-top: 150px; 
}
.second-half-width img{
    width: 80%;
    padding-left: 80px;

}
.second-half-width p{
    padding-right:40px;
    color: #696969;
}